.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}

.booking-div{
    text-align: center;
}
.book-next{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    
}
.service{
    border: 1px solid orange;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.seshs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
    .pendingSession{
        text-align: center;
        border: 1px solid orange;
        width: 25%;
        height: 100px;
    }
}
.upcoming{
    padding: 10px;
    margin: 10px
}
.sessionApproval{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.upSession{
    text-align: center;
    border: 1px solid orange;
    width: 25%;
    height: 100px;
}
.clientDiv{
    text-align: center;
}