section.header.navbar .container .unauthenticated {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.header.navbar .container .unauthenticated .container-header-logo .header-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 36px !important;
}

section.header.navbar .container .unauthenticated .container-header-logo .header-logo img.fiterr-logo {
  max-height: 36px !important;
}

section.header.navbar .container .unauthenticated .header-nav a.link-header {
  border: solid 1px #fd7800;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
  min-height: 26px;
  padding: 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

section.header.navbar .container .unauthenticated .header-nav a.link-header:hover {
  background-color: rgba(255, 255, 255, 0.06);
  border: solid 1px #fff;
  color: #fff;
  text-decoration: none;
}

section.header.navbar .container .unauthenticated .header-nav a.link-header.signup {
  border: solid 1px #fff;
  color: #fff;
}

section.header.navbar .container .unauthenticated .header-nav a.link-header.signup:hover {
  background-color: #fff;
  border: solid 1px #fff;
  color: #fd7800;
}

section.header.navbar .container .authenticated {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.header.navbar .container .authenticated .header-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.8em;
  height: 28px;
  width: 100%;
}

section.header.navbar .container .authenticated .header-search form input.search-field {
  border-color: #d66500;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-right-width: 0px;
  color: #333;
  height: 100%;
  padding: 0 6px;
  width: calc(100% - 50px);
}

section.header.navbar .container .authenticated .header-search form button.search-btn {
  background-color: #f3f3f3;
  border-color: #d66500;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-style: solid;
  border-width: 1px;
  border-left-width: 0px;
  color: #000;
  font-size: 0.9em;
  height: 100%;
  width: 50px;
}

section.header.navbar .container .authenticated .header-search form button.search-btn:hover {
  background-color: #e6e6e6;
}

section.header.navbar .container .authenticated .container-header-nav .header-nav.profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 46px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 3px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 34px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 6px;
  padding-right: 6px;
}

section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed:hover,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile:hover,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard:hover {
  background-color: rgba(0, 0, 0, 0.085);
  border: solid 1px rgba(0, 0, 0, 0.02);
}

section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed img.profile-image,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile img.profile-image,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard img.profile-image {
  border: 1px solid #d8d8d8;
  border-radius: 1px;
  height: 28px;
  width: 28px;
}

section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed .newsfeed-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed .profile-image-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-newsfeed .dashboard-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile .newsfeed-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile .profile-image-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-profile .dashboard-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard .newsfeed-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard .profile-image-text span,
section.header.navbar .container .authenticated .container-header-nav .header-nav.profile .link-dashboard .dashboard-text span {
  color: #fff;
  font-weight: 500;
  margin-left: 6px;
  text-transform: capitalize;
}

section.header.navbar .container .authenticated .header-nav .top-nav-vr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.085);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 26px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px 5px;
}

section.header.navbar .container .authenticated .header-notifications {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 34px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

section.header.navbar .container .authenticated .header-notifications:hover {
  color: #fff;
}

section.header.navbar .container .authenticated .header-notifications.last {
  margin-right: 0px;
  padding-right: 2px;
}

section.header.navbar .container .authenticated .header-notifications.last:hover {
  color: #fff;
}

section.subheader.navbar .container .submenu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.subheader.navbar .container .submenu .col-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.subheader.navbar .container .submenu .col-left .link-submenu {
  margin-right: 12px;
}

section.subheader.navbar .container .submenu .col-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.subheader.navbar .container .submenu .col-right .link-submenu {
  margin-left: 12px;
}

section.subheader.navbar .container .submenu .link-submenu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4px;
  text-transform: capitalize;
}

section.subheader.navbar .container .submenu .link-submenu:hover {
  border-bottom: solid 2px #fd7800;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1px;
}
/*# sourceMappingURL=header-nav.css.map */