@import "../../../scss/variables.scss";


.container-app section.body.enthusiasts {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh - 60px);
  justify-content: flex-start;
  width: 100%;
  .head-banner {
    background-image: url('../media/banner-barbell.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    overflow: hidden;
    width: 100%;
    .image-overlay {
      align-items: center;
      background-color: rgba(15, 15, 15, 0.3);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      height: 100%;
      width: 100%;
      .title {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 50px;
        justify-content: flex-end;
        width: 100%;
        h1 {
          color: #fff;
          font-size: 2.4em;
          font-weight: 600;
          line-height: 1em;
          text-transform: uppercase;
        }
      }
    }
  }
  .container-enthusists {
    align-items: center;
    background-image: url('../media/banner-barbell.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    width: 100vw;
    margin: 0;
    .enthusists-image {
      // background-image: url('../media/banner-barbell.jpg');
      // background-position: center center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-repeat: no-repeat;
      height: 250px;
      overflow: hidden;
      width: 100%;
    }
  }
}
