@import "../../../scss/variables.scss";


.container-app section.body.homepage {
  display: flex;
  height: calc(100vh - 60px);
  video#video {
    height: 100%;
  }
}
.video-overlay {
  // background: #000;
  // height: 100%;
  // z-index: 1;
}

