* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container-app {
  display: block;
  width: 100%;
}

.container-app div.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1024px;
  min-width: 820px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.container-app section.header,
.container-app section.subheader,
.container-app section.body,
.container-app section.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.container-app section.header.navbar {
  background-color: #fd7800;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: 0px;
  z-index: 10;
}

.container-app section.subheader.navbar {
  background-color: #fff;
  border-bottom: solid 1px #dddfe2;
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: 46px;
}

.container-app section.header.navbar .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.container-app section.subheader.navbar .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.container-app section.footer.footer .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.container-app section.body {
  background-color: #f0f0f0;
  height: 100vh;
}

.container-app section.footer.footer {
  background-color: #424242;
  bottom: 0;
  z-index: 10;
}

.container-app .container-header-logo,
.container-app .container-header-search,
.container-app .container-header-nav,
.container-app .container-footer-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
}

.container-app .container-header-logo .header-logo,
.container-app .container-header-search .header-logo,
.container-app .container-header-nav .header-logo,
.container-app .container-footer-nav .header-logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 26px !important;
}

.container-app .container-header-logo .header-logo img.fiterr-logo,
.container-app .container-header-search .header-logo img.fiterr-logo,
.container-app .container-header-nav .header-logo img.fiterr-logo,
.container-app .container-footer-nav .header-logo img.fiterr-logo {
  max-height: 26px !important;
}

.container-app .container-header-logo .header-search,
.container-app .container-header-search .header-search,
.container-app .container-header-nav .header-search,
.container-app .container-footer-nav .header-search {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 300px;
  margin-left: 10px;
}

.container-app .container-header-logo .footer-nav,
.container-app .container-header-search .footer-nav,
.container-app .container-header-nav .footer-nav,
.container-app .container-footer-nav .footer-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-app .container-header-logo .header-nav,
.container-app .container-header-search .header-nav,
.container-app .container-header-nav .header-nav,
.container-app .container-footer-nav .header-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-app a.link {
  color: #ff8418;
}

.container-app a.link:hover {
  color: #ff8418;
  text-decoration: underline;
}
/*# sourceMappingURL=app.css.map */