$primaryOrange: #fd7800;
$primaryOrangeHover: #ff8418;
$primaryOrangeDisabled: #ffca9b;
$accentPastelSalmon: #ff9595;
$accentBlueSteel: #90A4AE;

$genericPanelBG: #f5f5f5;
$genericPanelBGHover: #e0dede;
$genericPanelBorderColor: #dddddd;

$userSidebarFontSizeTitle: 0.75rem;
$userSidebarFontSizeTitleDetails: 0.9rem;
$userSidebarFontSizeSmall: 0.675rem;
$userSidebarFontSizeMedium: 0.75rem;

$bodyBG: #f0f0f0;
$genericTextColor: #525252;
$panelHoverBG: #f7f7f7;

$activeGreySlightlyDarker: #5c5c5c;
$activeGrey: #525252;
$greyActiveSlightlyLighter: #666;
$borderOnboardingPanels: #c7c7c7;

$bannerBG: #808080;
$labelColor: #828282;
